.footer {
  padding: 0 15px 20px 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  margin-bottom: 33px;
  justify-content: center;
}

.title {
  color: #656566;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.item {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.phoneNumber {
  font-weight: 500;
  margin-bottom: 12px;
}

.address {
  margin-top: 12px;
}

.link {
  color: #e4e5ea;
  transition: color ease-out 0.1s;
}

.link:hover {
  color: #b2b2b6;
}

.aboutCompany {
  margin-right: 98px;
}

.menu {
  margin-right: 52px;
}

.additionalInfo {
  margin-right: 163px;
  padding-top: 37px;
}

.additionalInfoMobile {
  display: none;
}

.messengers {
  display: flex;
  column-gap: 14px;
  justify-content: end;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 15px;
}

.contacts {
  text-align: end;
}

@media (max-width: 1200px) {
  .footer {
    justify-content: center;
  }
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts {
    text-align: start;
  }

  .aboutCompany {
    margin-right: 0;
  }

  .additionalInfo {
    margin-right: 0;
    padding-top: 0;
  }

  .additionalInfoMobile {
    display: none;
  }

  .copyright {
    align-items: center;
  }

  .messengers {
    justify-content: flex-start;
  }
}

@media (max-width: 600px) {
  .footer {
    background: #0e1014;
    padding-top: 41px;
    padding-bottom: 60px;
  }

  .row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
  }

  .column {
    align-items: flex-start;
  }

  .title {
    font-size: 12px;
    line-height: 14.5px;
  }

  .item {
    font-size: 14px;
    line-height: 17px;
  }

  .aboutCompany {
    width: 100%;
  }

  .phoneNumber {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
  }

  .additionalInfo {
    display: none;
  }

  .additionalInfoMobile {
    display: block;
    padding-top: 35px;
    max-width: 165px;
  }

  .menu {
    max-width: 100px;
    margin-right: 48px;
  }

  .phoneNumber {
    margin-bottom: 1px;
  }

  .address {
    margin-top: 2px;
  }

  .copyright {
    align-items: flex-start;
  }
}
