.navBar {
  display: flex;
  padding: 57px 15px 0 15px;
  margin-bottom: 94px;
  position: relative;
  z-index: 15;
}

.logoBlock {
  margin-right: 27px;
}

.logo {
  width: 140px;
  height: 24px;
  margin-right: 8px;
  margin-bottom: 10px;
}

.logoSlogan {
  max-width: 165px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
}

.list {
  display: flex;
  padding-top: 4px;
  column-gap: 30px;
}

.item {
  font-weight: 500;
  line-height: 19px;
}

.link {
  color: #e4e5ea;
  transition: color ease-out 0.1s;
}

.link:hover {
  color: #b2b2b6;
}

.messengers {
  display: flex;
  column-gap: 34px;
}

.contacts {
  display: flex;
  margin-left: 137px;
  padding-top: 4px;
}
.phoneNumber {
  font-weight: 500;
  line-height: 19px;
  margin-right: 48px;
}

.phoneNubmerLink {
  color: #e4e5ea;
  transition: color ease-out 0.1s;
}

.phoneNubmerLink:hover {
  color: #b2b2b6;
}

@media (max-width: 1200px) {
  .navBar {
    justify-content: center;
  }
  .logoBlock {
    display: none;
  }
}

@media (max-width: 1000px) {
  .contacts {
    display: none;
  }
}

@media (max-width: 600px) {
  .navBar {
    background: #0e1014;
    padding: 20px 15px;
    margin-bottom: 0px;
  }

  .list {
    padding: 0;
  }

  .list {
    column-gap: 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
  .certifs {
    display: none;
  }
}
