.row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 124px;
  justify-content: space-between;
  z-index: 10;
}

.title {
  max-width: 362px;
  font-size: 48px;
  line-height: 58px;
}

.titleLogo {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%);
  background-clip: text;
  color: transparent;
  margin-bottom: 30px;
}

.titleText {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  max-width: 275px;
}

.advertising {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 330px;
}

.advertsingTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: end;
  background: linear-gradient(92deg, #fcb045 27.14%, #fd1d1d 100%);
  background-clip: text;
  color: transparent;
  text-align: end;
  margin-bottom: 40px;
}

.advertisingTitleDefault {
  color: #e4e5ea;
}

.advertisingBlock {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: end;
  margin-bottom: 61px;
}

.advertisingBlockCard {
  text-align: end;
}

.advertisingBlockCardTitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 6px;
}

.advertisingBlockCardText {
  max-width: 164px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.button {
  padding: 21px 35px;
  background-color: #4077f3;
  font-weight: 500;
  transition: background-color ease-out 0.1s;
}

.button:hover {
  background-color: #325dc2;
}

@media (max-width: 1200px) {
  .main {
    margin-right: 102px;
  }

  .row {
    justify-content: center;
  }
}
