.app {
  --radius: 20vmax;
  --background: #0e1014;

  min-height: 100vh;
  margin: 0;

  background-image: radial-gradient(
      circle at 50px 400px,
      rgba(255, 21, 39, 0.15),
      var(--background) var(--radius)
    ),
    radial-gradient(
      circle at 50% 0,
      rgba(167, 20, 248, 0.15),
      var(--background) var(--radius)
    );
  background-color: var(--background);
  background-blend-mode: lighten;
}

.container {
  max-width: 1180px;
  padding: 0 20px;
  min-height: 100vh;
  margin: 0 auto;
  color: #e4e5ea;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.logoSlogan {
  max-width: 165px;
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
}
